body{
    margin: 0;
    padding: 0;
    background-color: #abc4ff;
    
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    color: #282828;
}

button {
    position: relative;
    background-color: transparent;
    color: #abc4ff;
    border: 0;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.calculator {
    display: flex;
    width: 400px;
    height: 500px;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 30px;
    /* border: 30px #404040 solid; */
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(#404040, #282828);
    box-shadow: 10px 10px 6px #282828;
}



.num-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    
}

.num-buttons > button {
    flex: 1;
    flex-grow: 0;
    min-width: 133px;
    min-height: 50px;
    color: gray;
}

.num-buttons .operation-buttons {
    color: #abc4ff;
}


.show-state > h3 {
    text-align: right;
    padding: 5px;
    padding-right: 25px;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show-state{
    background-color: white;
    color: #0b0c10;
    border-radius: 100px;
    overflow: hidden;
}


